<!DOCTYPE html><html lang="zh"><head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=1300,user-scalable=yes">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="SiteName" content="国家药品监督管理局药品审评中心">
    <meta name="SiteDomain" content="www.cde.org.cn">

    <meta name="ColumnName" content="指导原则专栏">
    <meta name="ColumnType" content="征求意见">
    <meta name="ColumnDescription" content="国家药品监督管理局药品审评中心指导原则专栏相关信息">
    <meta name="ColumnKeywords" content="征求意见">
    
    
    

    <title>国家药品监督管理局药品审评中心</title>
    <link rel="shortcut icon" href="/favicon.ico">
    <link href="/zdyz/plugins/layui/css/layui.css" rel="stylesheet">
    <link href="/zdyz/css/common.css" rel="stylesheet">
    <link href="/zdyz/css/home.css" rel="stylesheet">
    <link href="/zdyz/css/main.css" rel="stylesheet">
    <link href="/zdyz/css/reset_layui.css" rel="stylesheet">

    <link href="/zdyz/css/page.css" rel="stylesheet">
<!--[if lt IE 9]><script r='m'>document.createElement("section")</script><![endif]--><link id="layuicss-laydate" rel="stylesheet" href="https://www.cde.org.cn/zdyz/plugins/layui/css/modules/laydate/default/laydate.css?v=5.3.1" media="all"><link id="layuicss-layer" rel="stylesheet" href="https://www.cde.org.cn/zdyz/plugins/layui/css/modules/layer/default/layer.css?v=3.5.1" media="all"><link id="layuicss-skincodecss" rel="stylesheet" href="https://www.cde.org.cn/zdyz/plugins/layui/css/modules/code.css?v=2" media="all"></head>
<body>
<div class="mc_cde">
    <div>
    <div class="cde_header">
        <div class="header_title">
            <div class="header_logo">
                <img src="/zdyz/img/logo.png" alt="">
            </div>
            <div class="header_name">
                <div class="header_name_cn">国家药品监督管理局药品审评中心</div>
                <div class="header_name_en">指导原则专栏</div>
            </div>
        </div>
        <div class="header_setting">
            <div class="header_fun">
                <ul>
                    <li><a href="/main/fullsearch/map" target="_blank"><img src="/zdyz/img/header_Add.jpg" alt="map">网站地图</a></li>
                    <li><a href="/main/fullsearch/contact" target="_blank"><img src="/zdyz/img/header_phone.jpg" alt="call">联系我们</a></li>
                    <li><a href="https://mail.cde.org.cn" target="_blank"><img src="/zdyz/img/header_emai.jpg" alt="email">CDE邮箱</a></li>
                </ul>
            </div>
            <div class="header_search">
                <div>
                    <img src="/zdyz/img/icon_search.jpg" alt="专栏内搜索">
                    <form onsubmit="return false" class="disInline">
                        <input type="text" id="keywordSearch" placeholder="请输入关键词" maxlength="100" onkeydown="keyword_search(event);">
                    </form>
                </div>
                <button id="searchBtn" type="button" onclick="openKeywordSearch()">专栏内搜索</button>
            </div>
        </div>
    </div>
    <div class="cde_nav">
        <div>
            <span class="nav_item" index="0">
                <a href="/zdyz/index">首页</a>
            </span>
            <span class="dividerLine"></span>
            <span class="nav_item" index="4">
                <a href="/zdyz/listpage/7aa53c791152501c725436c6aad28b57">指导原则专栏简介</a>
            </span>
            <span class="dividerLine"></span>
            <span class="nav_item" index="1">
                <a href="/zdyz/listpage/9cd8db3b7530c6fa0c86485e563f93c7">指导原则数据库</a>
                <ul class="nav-item-child">
                    <li style="width: 200px"><a class="second_a" href="/zdyz/listpage/9cd8db3b7530c6fa0c86485e563f93c7">国内药品技术指导原则</a></li>
                    <li style="width: 200px"><a class="second_a" href="https://www.cde.org.cn/ichWeb/guideIch/toGuideIch/0/1" target="_blank">ICH指导原则</a></li>
                    <li style="width: 200px"><a class="second_a" href="/zdyz/listpage/9896715bb77a39cd0685c84c4eae844e">国外参考指导原则</a></li>
                </ul>
            </span>
            <span class="dividerLine"></span>
            <span class="nav_item" index="2">
                <a href="/zdyz/listpage/2853510d929253719601db17b8a9fd81">发布通告</a>
            </span>
            <span class="dividerLine"></span>
            <span class="nav_item nav_selected" index="3">
                <a href="/zdyz/listpage/3c49fad55caad7a034c263cfc2b6eb9c">征求意见</a>
            </span>
                




        </div>
    </div>
</div>
    <div class="cde_body">
        <div class="cde_ectd overHidden">
            <div class="mc_body mt10 bgWhite" style="min-height: 650px">
                <div class="etcd_nav" style="height: 605px;">
                    <span><span style="font-size: 23px">指导原则专栏</span></span>
                    <ul class="etcd_nav_ul">
                        <li>
                            <a class="aLink" href="/zdyz/listpage/7aa53c791152501c725436c6aad28b57" data-id="11001">指导原则专栏简介</a>
                        </li>
                        <li>
                            <span>指导原则数据库</span>
                            <i class="layui-icon layui-icon-up"></i>
                            <dl class="nav-child" style="display: block;">
                                <dd class="ellipsis aLink" data-id="12001" title="国内药品技术指导原则">
                                    <a href="/zdyz/listpage/9cd8db3b7530c6fa0c86485e563f93c7">国内药品技术指导原则</a>
                                </dd>
                                <dd class="ellipsis aLink" data-id="12002" title="ICH指导原则">
                                    <a href="https://www.cde.org.cn/ichWeb/guideIch/toGuideIch/0/1" target="_blank">ICH指导原则</a>
                                </dd>
                                <dd class="ellipsis aLink" data-id="12003" title="国外参考指导原则">
                                    <a href="/zdyz/listpage/9896715bb77a39cd0685c84c4eae844e">国外参考指导原则</a>
                                </dd>
                            </dl>
                        </li>
                        <li>
                            <a class="aLink" href="/zdyz/listpage/2853510d929253719601db17b8a9fd81" data-id="14001">发布通告</a>
                        </li>
                        <li>
                            <a class="aLink is_active" href="/zdyz/listpage/3c49fad55caad7a034c263cfc2b6eb9c" data-id="14002">征求意见</a>
                        </li>
                        <li>
                            <a class="aLink" href="/zdyz/listpage/c6687839f21a799206b8ff9b83a808ba" data-id="14003">热点动态</a>
                        </li>
                    </ul>
                </div>
                <div class="cde_iframe">
                    <div class="module_site">
                        <img src="/zdyz/img/icon_site.jpg" alt="site">
                        当前位置 :
                        <span>指导原则专栏</span>
                        <span>＞＞</span>
                        <span class="currentNav">征求意见</span>
                        <span class="currentModule"></span>
                    </div>
                    <div class="mc_source">
                        
                        



                        
                        
                        <block>
                            <div>

    <link href="/zdyz/css/page.css" rel="stylesheet">


<div class="listWrapper">
    <div class="mc_search" style="padding: 0">
        <div class="specialSearch layui-form" lay-filter="specialForm" style="height: 106px">
            <div class="searchInput">
                <div class="layui-row">
                    <div class="layui-col-sm10">
                        <div class="layui-row" style="margin-bottom: 10px">
                            <div class="layui-col-sm2">
                                <label class="layui-form-label" style="width: 110px;text-align: right;">征求意见状态：</label>
                            </div>
                            <div class="layui-col-sm3">
                                <select name="fclass" id="fclass" lay-filter="fclass">
                                    <option value="征求意见">征求意见</option>
                                    <option value="已结束">已结束</option>
                                </select><div class="layui-unselect layui-form-select"><div class="layui-select-title"><input type="text" placeholder="请选择" value="征求意见" readonly="" class="layui-input layui-unselect"><i class="layui-edge"></i></div><dl class="layui-anim layui-anim-upbit"><dd lay-value="征求意见" class="layui-this">征求意见</dd><dd lay-value="已结束" class="">已结束</dd></dl></div>
                            </div>
                        </div>
                        <div class="layui-row">
                            <div class="layui-col-sm5">
                                <div class="layui-form-item">
                                    <label class="layui-form-label" style="width: 120px;text-align: right;padding: 10px 8px 10px 5px;">标题：</label>
                                    <input type="text" name="searchTitle" id="searchTitle1" autocomplete="off" maxlength="100" class="layui-input" style="width: 200px;margin-right: 0;" onkeydown="defaultObj.methods.searchAdviceListEnter(event);">
                                </div>
                            </div>
                            <div class="layui-col-sm7">
                                <div class="layui-form-item">
                                    <label class="layui-form-label" style="width: 120px;text-align: right;">发布时间：</label>
                                    <div class="layui-input-block" style="margin-left: 140px">
                                        <div class="layui-input-inline" style="width: 142px">
                                            <input type="text" class="layui-input" id="issueDate3" placeholder="" readonly="" lay-key="5">
                                        </div>
                                        <span style="display: inline-block;margin-top: 8px;">至</span>
                                        <div class="layui-input-inline" style="width: 142px;float: right; margin-right: 0;">
                                            <input type="text" class="layui-input" id="issueDate4" placeholder="" readonly="" lay-key="6">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="layui-col-sm2 txt-center">
                        <button type="button" class="layui-btn layui-btn-normal layui-btn-sm searchBtn" onclick="defaultObj.methods.searchAdviceListFn()" style="top: 30px;right: 0;position: relative;">检 索
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="listBox">
        
        
        <div class="news_item">
            <div class="news_date">
                <span>2026.03</span>
                <span>11</span>
            </div>
            <div class="news_content_box" style="width: calc(100% - 170px)">
                <div class="news_content_title ellipsis">关于公开征求《罕见病酶替代疗法药物药学研究与评价技术指导原则（征求意见稿）》意见的通知</div>
                <div class="news_content_detail">
                    
                    <a href="https://www.cde.org.cn/main/news/viewInfoCommon/3a5ef8b0ba21456ed1f6f4296e3b58ce" target="_blank" title="点击查看">【查看详情】</a>
                    
                </div>
            </div>
            <span style="display: inline-block;margin-top: 17px;text-align: right">征求意见</span>
            
            <a class="right_default" href="https://www.cde.org.cn/main/news/viewInfoCommon/3a5ef8b0ba21456ed1f6f4296e3b58ce" target="_blank" title="点击查看"> &gt; </a>
            
        </div>
        
        <div class="news_item">
            <div class="news_date">
                <span>2026.03</span>
                <span>09</span>
            </div>
            <div class="news_content_box" style="width: calc(100% - 170px)">
                <div class="news_content_title ellipsis">关于公开征求《治疗用重组蛋白药物上市许可申请质量综述资料撰写指导原则（征求意见稿）》等三个指导原则意见的通知</div>
                <div class="news_content_detail">
                    
                    <a href="https://www.cde.org.cn/main/news/viewInfoCommon/0fe53659e7c18d4cb81172309f83eb95" target="_blank" title="点击查看">【查看详情】</a>
                    
                </div>
            </div>
            <span style="display: inline-block;margin-top: 17px;text-align: right">征求意见</span>
            
            <a class="right_default" href="https://www.cde.org.cn/main/news/viewInfoCommon/0fe53659e7c18d4cb81172309f83eb95" target="_blank" title="点击查看"> &gt; </a>
            
        </div>
        
        <div class="news_item">
            <div class="news_date">
                <span>2026.03</span>
                <span>04</span>
            </div>
            <div class="news_content_box" style="width: calc(100% - 170px)">
                <div class="news_content_title ellipsis">关于公开征求《预防用mRNA疫苗临床试验技术指导原则（征求意见稿）》意见的通知</div>
                <div class="news_content_detail">
                    
                    <a href="https://www.cde.org.cn/main/news/viewInfoCommon/cd6a647bf739b02b60bed91db9939ecd" target="_blank" title="点击查看">【查看详情】</a>
                    
                </div>
            </div>
            <span style="display: inline-block;margin-top: 17px;text-align: right">征求意见</span>
            
            <a class="right_default" href="https://www.cde.org.cn/main/news/viewInfoCommon/cd6a647bf739b02b60bed91db9939ecd" target="_blank" title="点击查看"> &gt; </a>
            
        </div>
        
        
        
    </div>
    <div id="page" class="page_div"><div class="layui-box layui-laypage layui-laypage-default" id="layui-laypage-1"><span class="layui-laypage-count">共 3 条</span><a href="javascript:;" class="layui-laypage-prev layui-disabled" data-page="0">上一页</a><span class="layui-laypage-curr"><em class="layui-laypage-em"></em><em>1</em></span><a href="javascript:;" class="layui-laypage-next layui-disabled" data-page="2">下一页</a><span class="layui-laypage-limits"><select lay-ignore=""><option value="10" selected="">10 条/页</option><option value="20">20 条/页</option><option value="30">30 条/页</option><option value="40">40 条/页</option><option value="50">50 条/页</option></select></span><a href="javascript:;" data-page="1" class="layui-laypage-refresh"><i class="layui-icon layui-icon-refresh"></i></a><span class="layui-laypage-skip">到第<input type="text" min="1" value="1" class="layui-input">页<button type="button" class="layui-laypage-btn">确定</button></span></div></div>
</div>

<div>
    <script id="listTpl" type="text/html">
        {{if dataList.length > 0}}
        {{each dataList}}
        <div class="news_item">
            <div class="news_date">
                <span>{{ $value.ymValue}}</span>
                <span>{{$value.dValue}}</span>
            </div>
            <div class="news_content_box" style="width: calc(100% - 170px)">
                <div class="news_content_title ellipsis">{{$value.title}}</div>
                <div class="news_content_detail">
                    {{if $value.externalLinks == null ||  $value.externalLinks == '' ||  $value.externalLinks == undefined}}
                    {{$value.summary}}
                    <a href= "/zdyz/opinioninfopage?zdyzIdCODE={{$value.zdyzIdCODE}}" target="_blank" title="点击查看">【查看详情】</a>
                    {{ else }}
                    <a href="{{$value.externalLinks}}" target="_blank" title="点击查看">【查看详情】</a>
                    {{/if}}
                </div>
            </div>
            <span style="display: inline-block;margin-top: 17px;text-align: right">{{$value.fclass}}</span>
            {{if $value.externalLinks == null ||  $value.externalLinks == '' ||  $value.externalLinks == undefined}}
            <a class="right_default" href= "/zdyz/opinioninfopage?zdyzIdCODE={{$value.zdyzIdCODE}}" target="_blank" title="点击查看"> > </a>
            {{ else }}
            <a class="right_default" href="{{$value.externalLinks}}" target="_blank" title="点击查看"> > </a>
            {{/if}}
        </div>
        {{/each}}
        {{/if}}
        {{if dataList.length === 0}}
        <div class="txt-center">暂无内容</div>
        {{/if}}
    </script>
</div>

</div>
                        </block>
                        
                        <div style="display: none" id="detail-content">
                            <table class="layui-table">
                                <colgroup>
                                    <col width="150">
                                    <col width="400">
                                </colgroup>
                                <tbody>
                                <tr>
                                    <td>发布时间</td>
                                    <td id="issueDate"></td>
                                </tr>
                                <tr>
                                    <td>发布通告</td>
                                    <td id="fbtg"></td>
                                </tr>
                                <tr>
                                    <td>名称</td>
                                    <td id="title"></td>
                                </tr>
                                <tr>
                                    <td>适用范围</td>
                                    <td id="fclass"></td>
                                </tr>
                                <tr>
                                    <td>专业分类</td>
                                    <td id="zyfl"></td>
                                </tr>
                                <tr>
                                    <td>版本状态</td>
                                    <td id="ispublish"></td>
                                </tr>
                                <tr>
                                    <td>下载附件1（指导原则正文）：</td>
                                    <td id="zdyzzw"></td>
                                </tr>
                                <tr>
                                    <td>下载附件2（起草说明 如有）：</td>
                                    <td id="qcsm"></td>
                                </tr>
                                <tr class="adviceInput">
                                    <td>意见留言</td>
                                    <td>
                                        <textarea name="desc" placeholder="请输入" class="layui-textarea suggestBack"></textarea>
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="cde_footer">
    <div>
        <div class="cde_footer_left">
            <div>
                Copyright © 国家药品监督管理局药品审评中心 &nbsp;&nbsp;All Right Reserved.
            </div>
            <div>
                <span>备案序号：<a href="https://beian.miit.gov.cn/#/Integrated/recordQuery" target="_blank" class="text_link">京ICP备09013725号</a></span>
                <span><a target="_blank" href="https://beian.mps.gov.cn/#/query/webSearch?code=11011502037534"><img src="/zdyz/images/ba.png">京公网安备11011502037534号</a></span>
            </div>
            <div>
                <span>地址：北京经济技术开发区广德大街22号院</span>
                <span>邮编：100163</span>
            </div>
            <div>
                <span>总机：010-68585566</span>
                <span>传真：010-68584181</span>
            </div>
        </div>
        
    </div>
</div>
</div>

    <script>var ctx ="\/zdyz";</script>
    <script src="/zdyz/js/jquery.min.js"></script>
    <script src="/zdyz/plugins/layui/layui.js"></script>
    <script src="/zdyz/js/template-web.js"></script>
    <script src="/zdyz/js/main.js"></script>
    <script src="/zdyz/js/setting.js?v=20240531"></script>
    <script src="/zdyz/js/common.js?v=20240531"></script>


    <script id="listTpl" type="text/html">
        {{if dataList.length > 0}}
        {{each dataList}}
        <div class="news_item">
            <div class="news_date">
                <span>{{ $value.ymValue}}</span>
                <span>{{$value.dValue}}</span>
            </div>
            <div class="news_content_box">
                <div class="news_content_title ellipsis" onclick="defaultObj.methods.downloadFile({{$value}})">{{$value.enTitle}}</div>
                <div class="news_content_detail" style="text-align: left">
                    {{$value.jieduan}}
                </div>
            </div>
        </div>
        {{/each}}
        {{/if}}
        {{if dataList.length === 0}}
        <div class="txt-center">暂无内容</div>
        {{/if}}
    </script>


    <script id="listTpl" type="text/html">
        {{if dataList.length > 0}}
        {{each dataList}}
        <div class="news_item">
            <div class="news_date">
                <span>{{ $value.ymValue}}</span>
                <span>{{$value.dValue}}</span>
            </div>
            <div class="news_content_box">
                <div class="news_content_title ellipsis">{{$value.title}}</div>
                <div class="news_content_detail" style="text-align: right">
                    <a href="/zdyz/guideGwView/{{#$value.idCODE}}" target="_blank">【查看详情】</a>
                </div>
            </div>
        </div>
        {{/each}}
        {{/if}}
        {{if dataList.length === 0}}
        <div class="txt-center">暂无内容</div>
        {{/if}}
    </script>

<script src="/zdyz/js/list.js?v=1.2"></script>
<script>
    $(function () {
        showChildNav();
        var codeId = '3c49fad55caad7a034c263cfc2b6eb9c';
        var id = '';
        switch (codeId) {
            case '7aa53c791152501c725436c6aad28b57':
                id = 11001;
                break;
            case '9cd8db3b7530c6fa0c86485e563f93c7':
                id = 12001;
                break;
            case '9896715bb77a39cd0685c84c4eae844e':
                id = 12003;
                break;
            case '2853510d929253719601db17b8a9fd81':
                id = 14001;
                break;
            case '3c49fad55caad7a034c263cfc2b6eb9c':
                id = 14002;
                break;
            case 'c6687839f21a799206b8ff9b83a808ba':
                id = 14003;
                break;
            default:
                break;
        }
        defaultObj.created(id, codeId);
        layui.use('element')
        $('meta[name=ContentSource]').remove()
        $('meta[name=ArticleTitle]').remove()
        $('meta[name=PubDate]').remove()
    })
</script>

</body></html>