<!DOCTYPE html><html lang="zh"><head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=1300,user-scalable=yes">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="SiteName" content="国家药品监督管理局药品审评中心">
    <meta name="SiteDomain" content="www.cde.org.cn">

    <meta name="ColumnName" content="指导原则专栏">
    <meta name="ColumnType" content="首页">
    <meta name="ColumnDescription" content="国家药品监督管理局药品审评中心指导原则专栏相关信息">
    <meta name="ColumnKeywords" content="首页">
    
    
    

    <title>指导原则专栏</title>
    <link rel="shortcut icon" href="/favicon.ico">
    <link href="/zdyz/plugins/layui/css/layui.css" rel="stylesheet">
    <link href="/zdyz/css/common.css" rel="stylesheet">
    <link href="/zdyz/css/home.css" rel="stylesheet">
    <link href="/zdyz/css/main.css" rel="stylesheet">
    <link href="/zdyz/css/reset_layui.css" rel="stylesheet">

<!--[if lt IE 9]><script r='m'>document.createElement("section")</script><![endif]--><link id="layuicss-laydate" rel="stylesheet" href="https://www.cde.org.cn/zdyz/plugins/layui/css/modules/laydate/default/laydate.css?v=5.3.1" media="all"><link id="layuicss-layer" rel="stylesheet" href="https://www.cde.org.cn/zdyz/plugins/layui/css/modules/layer/default/layer.css?v=3.5.1" media="all"><link id="layuicss-skincodecss" rel="stylesheet" href="https://www.cde.org.cn/zdyz/plugins/layui/css/modules/code.css?v=2" media="all"></head>
<body>
<div class="mc_cde">
    <div>
    <div class="cde_header">
        <div class="header_title">
            <div class="header_logo">
                <img src="/zdyz/img/logo.png" alt="">
            </div>
            <div class="header_name">
                <div class="header_name_cn">国家药品监督管理局药品审评中心</div>
                <div class="header_name_en">指导原则专栏</div>
            </div>
        </div>
        <div class="header_setting">
            <div class="header_fun">
                <ul>
                    <li><a href="/main/fullsearch/map" target="_blank"><img src="/zdyz/img/header_Add.jpg" alt="map">网站地图</a></li>
                    <li><a href="/main/fullsearch/contact" target="_blank"><img src="/zdyz/img/header_phone.jpg" alt="call">联系我们</a></li>
                    <li><a href="https://mail.cde.org.cn" target="_blank"><img src="/zdyz/img/header_emai.jpg" alt="email">CDE邮箱</a></li>
                </ul>
            </div>
            <div class="header_search">
                <div>
                    <img src="/zdyz/img/icon_search.jpg" alt="专栏内搜索">
                    <form onsubmit="return false" class="disInline">
                        <input type="text" id="keywordSearch" placeholder="请输入关键词" maxlength="100" onkeydown="keyword_search(event);" style="">
                    </form>
                </div>
                <button id="searchBtn" type="button" onclick="openKeywordSearch()">专栏内搜索</button>
            </div>
        </div>
    </div>
    <div class="cde_nav">
        <div>
            <span class="nav_item nav_selected" index="0">
                <a href="/zdyz/index">首页</a>
            </span>
            <span class="dividerLine"></span>
            <span class="nav_item" index="4">
                <a href="/zdyz/listpage/7aa53c791152501c725436c6aad28b57">指导原则专栏简介</a>
            </span>
            <span class="dividerLine"></span>
            <span class="nav_item" index="1">
                <a href="/zdyz/listpage/9cd8db3b7530c6fa0c86485e563f93c7">指导原则数据库</a>
                <ul class="nav-item-child" style="display: none;">
                    <li style="width: 200px"><a class="second_a" href="/zdyz/listpage/9cd8db3b7530c6fa0c86485e563f93c7">国内药品技术指导原则</a></li>
                    <li style="width: 200px"><a class="second_a" href="https://www.cde.org.cn/ichWeb/guideIch/toGuideIch/0/1" target="_blank">ICH指导原则</a></li>
                    <li style="width: 200px"><a class="second_a" href="/zdyz/listpage/9896715bb77a39cd0685c84c4eae844e">国外参考指导原则</a></li>
                </ul>
            </span>
            <span class="dividerLine"></span>
            <span class="nav_item" index="2">
                <a href="/zdyz/listpage/2853510d929253719601db17b8a9fd81">发布通告</a>
            </span>
            <span class="dividerLine"></span>
            <span class="nav_item" index="3">
                <a href="/zdyz/listpage/3c49fad55caad7a034c263cfc2b6eb9c">征求意见</a>
            </span>
                




        </div>
    </div>
</div>
    <div class="cde_body" style="padding-top: 10px;">
    <div class="mc_content" id="mc_content" style="height: 795px;">
        <div class="flex">
            <div class="wd_left">
                <div class="content_guide">
                    <div class="content_guide_news pd5 cursor baseMenu">
                        <div class="content_title">
                            <span>简介</span>
                        </div>
                        <div class="content_guide_scroll">
                            <div class="list">
                                <div class="rowup">
                                    <div class="item workInstructions">
                                        <a href="/zdyz/listpage/7aa53c791152501c725436c6aad28b57" target="_blank">
                                            <p style="text-indent: 2em">
                                                国家药品监督管理局药品审评中心（以下简称“药审中心”）以深化药品审评审批制度改革为统领，围绕鼓励药品研发和创新的原则，积极推进药品技术指导原则制修订工作，保证指导原则质量，广泛听取公众意见和建议，不断提高审评标准的公开透明力度，保障药品技术审评尺度科学统一。积极开展ICH指导原则在中国的转化实施工作，并在国际视野下参与监管规则的制定，同步提升国内技术标准水平，为药品研发和注册迈向国际化提供技术保障。
                                            </p>
                                        </a>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="wd_right">
                <div class="content_guide_news">
                    <div class="content_title">
                        <span>发布通告</span>
                        <span class="more"><a href="/zdyz/listpage/2853510d929253719601db17b8a9fd81" target="_blank">更多&gt;&gt;</a></span>
                    </div>
                    <div class="content_list pd10" id="listWrap2">
        
        
        <div class="content">
            <span class="circle" style="background-image: url(/zdyz/img/item_arrow.png);"></span>
            <p class="ellipsis">
                
                <a href="https://www.cde.org.cn/main/news/viewInfoCommon/0590b26249d5b29820ff238c3d0c5bd2" title="查看详情" class="text_link ellipsis" target="_blank">国家药监局药审中心关于发布《流感病毒疫苗临床试验技术指导原则（试行）》的通告（2026年第24号）</a>
                
            </p>
            <span class="date">2026-03-11</span>
        </div>
        
        <div class="content">
            <span class="circle" style="background-image: url(/zdyz/img/item_arrow.png);"></span>
            <p class="ellipsis">
                
                <a href="https://www.cde.org.cn/main/news/viewInfoCommon/f39aaefd12817a508aecb0334e0fbf63" title="查看详情" class="text_link ellipsis" target="_blank">国家药监局药审中心关于发布《人乳头瘤病毒疫苗临床试验技术指导原则（修订版）》的通告（2026年第23号）</a>
                
            </p>
            <span class="date">2026-03-11</span>
        </div>
        
        <div class="content">
            <span class="circle" style="background-image: url(/zdyz/img/item_arrow.png);"></span>
            <p class="ellipsis">
                
                <a href="https://www.cde.org.cn/main/news/viewInfoCommon/2c071191f3a2ef45068b665e302fe494" title="查看详情" class="text_link ellipsis" target="_blank">国家药监局药审中心关于发布《抗肿瘤药物生物等效性及药代动力学比对研究受试者人群选择考虑》的通告（2026年第22号）</a>
                
            </p>
            <span class="date">2026-03-05</span>
        </div>
        
        <div class="content">
            <span class="circle" style="background-image: url(/zdyz/img/item_arrow.png);"></span>
            <p class="ellipsis">
                
                <a href="https://www.cde.org.cn/main/news/viewInfoCommon/7a3c48053151dce98590a564091055ec" title="查看详情" class="text_link ellipsis" target="_blank">国家药监局药审中心关于发布《慢性鼻窦炎伴鼻息肉治疗药物临床试验技术指导原则》的通告（2026年第17号）</a>
                
            </p>
            <span class="date">2026-03-04</span>
        </div>
        
        <div class="content">
            <span class="circle" style="background-image: url(/zdyz/img/item_arrow.png);"></span>
            <p class="ellipsis">
                
                <a href="https://www.cde.org.cn/main/news/viewInfoCommon/54931355dca9296aa84e9aeb1da940bb" title="查看详情" class="text_link ellipsis" target="_blank">国家药监局药审中心关于发布《化学合成寡核苷酸药物（创新药）药学研究技术指导原则（试行）》的通告（2026年第21号）</a>
                
            </p>
            <span class="date">2026-02-28</span>
        </div>
        
        
        
    </div>
                </div>

            </div>
        </div>
        <div class="flex">
            <div class="wd_left">
                <div class="content_guide_news" style="min-height: 280px">
                    <div class="content_title">
                        <span>征求意见</span>
                        <span class="more"><a href="/zdyz/listpage/3c49fad55caad7a034c263cfc2b6eb9c" target="_blank">更多&gt;&gt;</a></span>
                    </div>
                    <div class="content_list" id="listWrap1" style="padding-top: 10px">
        
        
        <div class="content zqyjContent">
            <span class="circle" style="background-image: url(/zdyz/img/item_arrow.png);"></span>
            <p>
                
                <a href="https://www.cde.org.cn/main/news/viewInfoCommon/3a5ef8b0ba21456ed1f6f4296e3b58ce" title="查看详情" class="text_link ellipsis" target="_blank">关于公开征求《罕见病酶替代疗法药物药学研究与评价技术指导原则（征求意见稿）》意见的通知</a>
                
                
                    <img src="images/icon_new.jpg">
                
            </p>
            <span class="date">2026-03-11</span>
            <span class="fclass">征求意见</span>
        </div>
        
        <div class="content zqyjContent">
            <span class="circle" style="background-image: url(/zdyz/img/item_arrow.png);"></span>
            <p>
                
                <a href="https://www.cde.org.cn/main/news/viewInfoCommon/0fe53659e7c18d4cb81172309f83eb95" title="查看详情" class="text_link ellipsis" target="_blank">关于公开征求《治疗用重组蛋白药物上市许可申请质量综述资料撰写指导原则（征求意见稿）》等三个指导原则意见的通知</a>
                
                
                    <img src="images/icon_new.jpg">
                
            </p>
            <span class="date">2026-03-09</span>
            <span class="fclass">征求意见</span>
        </div>
        
        <div class="content zqyjContent">
            <span class="circle" style="background-image: url(/zdyz/img/item_arrow.png);"></span>
            <p>
                
                <a href="https://www.cde.org.cn/main/news/viewInfoCommon/cd6a647bf739b02b60bed91db9939ecd" title="查看详情" class="text_link ellipsis" target="_blank">关于公开征求《预防用mRNA疫苗临床试验技术指导原则（征求意见稿）》意见的通知</a>
                
                
                    <img src="images/icon_new.jpg">
                
            </p>
            <span class="date">2026-03-04</span>
            <span class="fclass">征求意见</span>
        </div>
        
        <div class="content zqyjContent">
            <span class="circle" style="background-image: url(/zdyz/img/item_arrow.png);"></span>
            <p>
                
                <a href="https://www.cde.org.cn/main/news/viewInfoCommon/38c7c506185f3f4090ff07f8934e835b" title="查看详情" class="text_link ellipsis" target="_blank">关于公开征求《局部起效化学仿制药物理化学及结构（Q3）特性研究技术指导原则（征求意见稿）》意见的通知</a>
                
                
            </p>
            <span class="date">2026-01-23</span>
            <span class="fclass">已结束</span>
        </div>
        
        <div class="content zqyjContent">
            <span class="circle" style="background-image: url(/zdyz/img/item_arrow.png);"></span>
            <p>
                
                <a href="https://www.cde.org.cn/main/news/viewInfoCommon/d8757d923718c270a975aef90f237ff7" title="查看详情" class="text_link ellipsis" target="_blank">关于公开征求《申办者临床试验期间安全性快速报告的信息收集、分析与报告技术指导原则（征求意见稿）》意见的通知</a>
                
                
            </p>
            <span class="date">2026-01-04</span>
            <span class="fclass">已结束</span>
        </div>
        
        <div class="content zqyjContent">
            <span class="circle" style="background-image: url(/zdyz/img/item_arrow.png);"></span>
            <p>
                
                <a href="https://www.cde.org.cn/main/news/viewInfoCommon/a2356fcbee66adde2dde5418c09b0f3e" title="查看详情" class="text_link ellipsis" target="_blank">关于公开征求《化学仿制药滴眼剂研究技术指导原则（征求意见稿）》和《化学仿制药特殊滴眼剂研究技术指导原则（征求意见稿）》意见的通知</a>
                
                
            </p>
            <span class="date">2025-12-15</span>
            <span class="fclass">已结束</span>
        </div>
        
        <div class="content zqyjContent">
            <span class="circle" style="background-image: url(/zdyz/img/item_arrow.png);"></span>
            <p>
                
                <a href="https://www.cde.org.cn/main/news/viewInfoCommon/e75d4aff390a5d38dd27d7451ca17e16" title="查看详情" class="text_link ellipsis" target="_blank">关于公开征求《“三结合”中药注册审评证据体系下临床试验的一般原则（征求意见稿）》意见的通知</a>
                
                
            </p>
            <span class="date">2025-11-25</span>
            <span class="fclass">已结束</span>
        </div>
        
        
        
    </div>
                </div>
            </div>
            <div class="wd_right">
                <div class="content_guide_news" style="min-height: 282px">
                    <div>
                        <div class="layui-tab layui-tab-card" style="margin-top: 0;margin-bottom: 5px;">
                            <ul class="layui-tab-title">
                                <li class="layui-this">热点动态</li>
                                <li>专业分类</li>
                            </ul>
                            <div class="layui-tab-content hotDynamic">
                                <div class="layui-tab-item layui-show">
                                    <div class="layui-row layui-col-space10">
                                        <div class="layui-col-sm6" style="width: 47%">
                                            <a class="labelItem" style="background: #63baec;" onclick="defaultObj.methods.openListPage('《药品注册管理办法》配套指导原则')">
                                                
                                                <span>《药品注册管理办法》配套指导原则</span>
                                            </a>
                                        </div>
                                        <div class="layui-col-sm6" style="width: 53%">
                                            <a class="labelItem" style="background: #fbb763" onclick="defaultObj.methods.openListPage('抗新冠病毒药物或疫苗研发技术指导原则')">
                                                
                                                <span>抗新冠病毒药物或疫苗研发技术指导原则</span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="layui-row layui-col-space10">
                                        <div class="layui-col-sm3" style="width: 27%">
                                            <a class="labelItem" style="background: #f37676" onclick="defaultObj.methods.openListPage('变更相关指导原则')">
                                                
                                                <span>变更相关指导原则</span>
                                            </a>
                                        </div>
                                        <div class="layui-col-sm4">
                                            <a class="labelItem" style="background: #f78bd1" onclick="defaultObj.methods.openListPage('一致性评价技术指导原则')">
                                                
                                                <span>一致性评价技术指导原则</span>
                                            </a>
                                        </div>
                                        <div class="layui-col-sm5" style="width: 39.5%">
                                            <a class="labelItem" style="background: #5ccac9" onclick="defaultObj.methods.openListPage('儿童药物研发技术指导原则')">
                                                
                                                <span>儿童药物研发技术指导原则</span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="layui-row layui-col-space10">
                                        <div class="layui-col-sm5">
                                            <a class="labelItem" style="background: #63d099" onclick="defaultObj.methods.openListPage('抗肿瘤药物研发相关指导原则')">
                                                
                                                <span>抗肿瘤药物研发相关指导原则</span>
                                            </a>
                                        </div>
                                        <div class="layui-col-sm3">
                                            <a class="labelItem" style="background: #8b8ef7" onclick="defaultObj.methods.openListPage('中药质量提升')">

                                                <span>中药质量提升</span>
                                            </a>
                                        </div>
                                        <div class="layui-col-sm4">
                                            <a class="labelItem" style="background: #3e8fd6" onclick="defaultObj.methods.openListPage('个药指导原则')">
                                                
                                                <span>个药指导原则</span>
                                            </a>

                                        </div>
                                    </div>
                                </div>
                                <div class="layui-tab-item">
                                    <div class="proType">
                                        <div>
                                            <a class="labelItem">中药</a>
                                        </div>
                                        <div class="lableItemSen">
                                            <a onclick="defaultObj.methods.opengnListPage('中药','药学')">药学</a>
                                        </div>
                                        <div class="lableItemSen">
                                            <a onclick="defaultObj.methods.opengnListPage('中药','临床')">临床</a>
                                        </div>
                                        <div class="lableItemSen">
                                            <a onclick="defaultObj.methods.opengnListPage('中药','非临床')">非临床</a>
                                        </div>
                                        <div class="lableItemSen">
                                            <a onclick="defaultObj.methods.opengnListPage('中药','临床药理')">临床药理</a>
                                        </div>
                                        <div class="lableItemSen">
                                            <a onclick="defaultObj.methods.opengnListPage('中药','生物统计')">生物统计</a>
                                        </div>
                                        <div class="lableItemSen">
                                            <a onclick="defaultObj.methods.opengnListPage('中药','多学科')">多学科</a>
                                        </div>
                                    </div>
                                    <div class="proType">
                                        <div>
                                            <a class="labelItem">化学药</a>
                                        </div>
                                        <div class="lableItemSen">
                                            <a onclick="defaultObj.methods.opengnListPage('化学药','药学')">药学</a>
                                        </div>
                                        <div class="lableItemSen">
                                            <a onclick="defaultObj.methods.opengnListPage('化学药','临床')">临床</a>
                                        </div>
                                        <div class="lableItemSen">
                                            <a onclick="defaultObj.methods.opengnListPage('化学药','非临床')">非临床</a>
                                        </div>
                                        <div class="lableItemSen">
                                            <a onclick="defaultObj.methods.opengnListPage('化学药','临床药理')">临床药理</a>
                                        </div>
                                        <div class="lableItemSen">
                                            <a onclick="defaultObj.methods.opengnListPage('化学药','生物统计')">生物统计</a>
                                        </div>
                                        <div class="lableItemSen">
                                            <a onclick="defaultObj.methods.opengnListPage('化学药','多学科')">多学科</a>
                                        </div>
                                    </div>
                                    <div class="proType">
                                        <div>
                                            <a class="labelItem">生物制品</a>
                                        </div>
                                        <div class="lableItemSen">
                                            <a onclick="defaultObj.methods.opengnListPage('生物制品','药学')">药学</a>
                                        </div>
                                        <div class="lableItemSen">
                                            <a onclick="defaultObj.methods.opengnListPage('生物制品','临床')">临床</a>
                                        </div>
                                        <div class="lableItemSen">
                                            <a onclick="defaultObj.methods.opengnListPage('生物制品','非临床')">非临床</a>
                                        </div>
                                        <div class="lableItemSen">
                                            <a onclick="defaultObj.methods.opengnListPage('生物制品','临床药理')">临床药理</a>
                                        </div>
                                        <div class="lableItemSen">
                                            <a onclick="defaultObj.methods.opengnListPage('生物制品','生物统计')">生物统计</a>
                                        </div>
                                        <div class="lableItemSen">
                                            <a onclick="defaultObj.methods.opengnListPage('生物制品','多学科')">多学科</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <div class="cde_footer">
    <div>
        <div class="cde_footer_left">
            <div>
                Copyright © 国家药品监督管理局药品审评中心 &nbsp;&nbsp;All Right Reserved.
            </div>
            <div>
                <span>备案序号：<a href="https://beian.miit.gov.cn/#/Integrated/recordQuery" target="_blank" class="text_link">京ICP备09013725号</a></span>
                <span><a target="_blank" href="https://beian.mps.gov.cn/#/query/webSearch?code=11011502037534"><img src="/zdyz/images/ba.png">京公网安备11011502037534号</a></span>
            </div>
            <div>
                <span>地址：北京经济技术开发区广德大街22号院</span>
                <span>邮编：100163</span>
            </div>
            <div>
                <span>总机：010-68585566</span>
                <span>传真：010-68584181</span>
            </div>
        </div>
        
    </div>
</div>
</div>

    <script>var ctx ="\/zdyz";</script>
    <script src="/zdyz/js/jquery.min.js"></script>
    <script src="/zdyz/plugins/layui/layui.js"></script>
    <script src="/zdyz/js/template-web.js"></script>
    <script src="/zdyz/js/main.js"></script>
    <script src="/zdyz/js/setting.js?v=20240531"></script>
    <script src="/zdyz/js/common.js?v=20240531"></script>


    <script id="template1" type="text/html">
        {{if list1.length > 0}}
        {{each list1}}
        <div class="content zqyjContent">
            <span class="circle" style="background-image: url(/zdyz/img/item_arrow.png);"></span>
            <p>
                {{if $value.externalLinks == null ||  $value.externalLinks == '' ||  $value.externalLinks == undefined}}
                <a href= "/zdyz/opinioninfopage?zdyzIdCODE={{$value.zdyzIdCODE}}" title="查看详情" class="text_link ellipsis" target="_blank">{{$value.title}}</a>
                {{ else }}
                <a href="{{$value.externalLinks}}" title="查看详情" class="text_link ellipsis" target="_blank">{{$value.title}}</a>
                {{/if}}
                {{if $value.isnew === 1}}
                    <img src="images/icon_new.jpg">
                {{/if}}
            </p>
            <span class="date">{{$value.issueDate}}</span>
            <span class="fclass">{{$value.fclass}}</span>
        </div>
        {{/each}}
        {{/if}}
        {{if list1.length === 0}}
        <div class="txt-center">暂无内容</div>
        {{/if}}
    </script>
    <script id="template2" type="text/html">
        {{if list2.length > 0}}
        {{each list2}}
        <div class="content">
            <span class="circle" style="background-image: url(/zdyz/img/item_arrow.png);"></span>
            <p class="ellipsis">
                {{if $value.externalLinks == null ||  $value.externalLinks == '' ||  $value.externalLinks == undefined}}
                <a href= "/zdyz/opinioninfopage?zdyzIdCODE={{$value.zdyzIdCODE}}" title="查看详情" class="text_link" target="_blank">{{$value.title}}</a>
                {{ else }}
                <a href="{{$value.externalLinks}}" title="查看详情" class="text_link ellipsis"  target="_blank">{{$value.title}}</a>
                {{/if}}
            </p>
            <span class="date">{{$value.issueDate}}</span>
        </div>
        {{/each}}
        {{/if}}
        {{if list2.length === 0}}
        <div class="txt-center">暂无内容</div>
        {{/if}}
    </script>
    <script id="template3" type="text/html">
        {{if list3.length > 0}}
        {{each list3}}
        <div class="content">
            <span class="circle" style="background-image: url(/zdyz/img/item_arrow.png);"></span>
            <p class="ellipsis"><a href="{{ $value.previewUrl}}" target="_blank">{{$value.title}}</a></p>
            <span class="date">{{$value.createdDate}}</span>
        </div>
        {{/each}}
        {{/if}}
        {{if list3.length === 0}}
        <div class="txt-center">暂无内容</div>
        {{/if}}
    </script>

<script src="/zdyz/js/index.js"></script>
<script>
    $(function () {
        showChildNav();
        defaultObj.created()
        layui.use('element', function () {
            var $ = layui.jquery
                , element = layui.element; //Tab的切换功能，切换事件监听等，需要依赖element模块

        });
        $(".cde_body > div").height(initContentHeight());
        $('meta[name=ContentSource]').remove()
        $('meta[name=ArticleTitle]').remove()
        $('meta[name=PubDate]').remove()
    })
</script>

</body></html>